<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
<script src="/javascripts/jquery.min.js" type="text/javascript"></script>
<script src="/javascripts/change_view.js" type="text/javascript"></script>
<script type="text/javascript">
    text_field =0;
    var cost_field =0;
    var note_field =0;
    var fee_message = ""
    fee_cost = ""
    input_note = ""

    function send_changes_to_server()
    {


        if( $('#extra_fee').length != 0)
        {
            fee_message =  $('#extra_fee').val()

        }
        if($('#cost_value').length != 0)
        {
            fee_cost = $('#cost_value').val()
        }
        if( $('#area_input').length !=0)
        {
            input_note =  $('#area_input').val()

        }

        else
        {


        }


        change_view("<%= @calculations.venue.id %>","<%=@calculations.date %>",input_note) ;



    }




    $(document).ready(function(){


        $("#loading").hide();
        $(".amount").click(function(event){

            var Id = jQuery(this).attr("id");
            if(Id == "amount_heading")
            {
                change_view("<%= @calculations.venue.id %>","<%=@calculations.date %>");
            }



        });
        $(".edit_able").click(function(event){

            var Id = jQuery(this).attr("id");

            if(Id == "extra")
            {
                if(text_field == 0)
                {


                    $('#extra').removeClass("edit_able");
                    $('#extra').addClass("selected");
                    $('#extra').append('<input type="text"  value="" id="extra_fee" size = 40 />');
                    $('#download').html("");
                    $('#download').append('<button value="Save Changes"  size =6  onclick = send_changes_to_server();>Apply Changes</button>');
                    text_field = text_field + 1
                }
                else
                {

                }

            }

            if(Id == "cost")
            {
                if(cost_field == 0)
                {

                    $('#cost').removeClass("edit_able");
                    $('#cost').addClass("selected");
                    $('#cost').append('<input type="text" id="cost_value" value="" size="6" maxlength="6" />');
                    $('#save_changes').html("");
                    $('#download').html("");
                    $('#download').append('<button value="Apply Changes"   onclick = send_changes_to_server(); >Apply Changes</button>');
                    cost_field = cost_field + 1
                }

                else
                {

                }

            }
            if(Id == "note")
            {

                if(note_field == 0)
                {

                    $('#note').html("");
                    $('#note').removeClass("edit_able");
                    $('#note').addClass("selected");

                    $('#note').append('<textarea rows="3" cols="120" value="" id="area_input">' + $('#remove').text() + '</textarea>');
                    $('#download').html("");
                    $('#download').append('<button value="Save Changes"    onclick = send_changes_to_server(); >Apply Changes</button>');
                    $('#remove').html("")
                    note_field = note_field + 1;
                }
                else
                {

                }


            }
            else
            {

            }



        });



    });

</script>

<style media="print" type="text/css">
    #download,#amount_remove{display: none;}
</style>

<style media="print" type="text/css">
    .amount, .edit_able {
        display: none;
    }
</style>


<style>

    body
    {
        font-size:80%;
        font-weight:normal ;
    }
    h1.title {
        font-size: 180%;
    }
    #customers
    {
        font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
        width:100%;
    }
    #customers td, #customers th
    {
        font-size:1em;
        border:1px solid #a34a4b;
        padding:3px 7px 2px 7px;
    }
    #customers th
    {
        font-size:1.1em;
        text-align:left;
        padding-top:5px;
        padding-bottom:4px;
        background-color:#a34a4b;
        color:#ffffff;
    }
    #summary th
    {
        font-size:1.1em;
        text-align:left;
        padding-top:5px;
        padding-bottom:4px;
        background-color:#FFF5F5;
        color:#000000;
    }
    #summary td, #summary th
    {
        font-size:1em;
        border:2px solid #a34a4b;
        padding:5px 7px 2px 7px;
    }
    #summary
    {
        font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
        width:80%;
        border-collapse:collapse;

    }
    #customers tr.alt td
    {
        color:#000000;
        background-color:#FFF5F5;
    }
    table
    {
        margin-left: auto;
        margin-top: 1px;
        margin-right: auto;
    }
    #container_div
    {

        width:100%;
        margin-top: 0px;


    }
    td
    {
        color: #000000;
    }
    #foodcircles_address
    {

    }
    #venue_address
    {

    }
    .amount
    {
        display: none;
    }

    .edit_able
    {
        color: #aaaaaa;
        cursor: pointer;

    }
    .edit_able:hover
    {

        color:#4F4F4F

    }
    .selected
    {
        color:black;
    }


</style>
</head>

<body>
<div id="new_layout" >
  <div style="margin-left: auto;margin-right: auto;width: 80%;">
    <table id="customers" align = "center">
      <caption><h1 class="title">FoodCircles Monthly Report</h1>
        <hr style="border:2px solid #a34a4b ;" >
        <div id="container_div">
          <table border="0" style="margin-left: 0px; margin-top: 0px;width: 100%;">
            <tr>
              <td valign ="top" style="border:none; width:30%;">
                <div id="foodcircles_address"><br><b>FoodCircles<br>
                  815 Henry SE<br>
                  Grand Rapids MI, 49507<br></b>
                  ph: 616 61-FOOD-6<br>

                </b>
                </div>
              </td>
              <td style="border:none; width:40%;">

                <%= image_tag 'logo.png' , :style => "width:175px; display:block;margin:10px auto; " %>
              </td>
              <td style="border:none; width:30%;">
                <div id="venue_address"><b>Report Range:<strong><%= "#{@calculations.pretty_start_date} To #{@calculations.pretty_end_date}" %></strong><br>
                   <%= @calculations.venue.name %>
                  <br>
                  <%=  @calculations.venue.address  %>
                </b>
                </div>
              </td>
              </td>
            </tr>
          </table>
        </div>
        <hr style="border:2px solid #a34a4b ;margin-top: 2px;" >


      </caption>
      <tr>
        <th>Party Name</th>
        <th>Party Size </th>
        <th>Code</th>
        <th>Time</th>
        <th>Dish </th>
        <th class="amount" id="amount_heading"> Amount <div id="amount_remove" style="float: right;">[X]</div> </th>
      </tr>
      <%- total_amount =0  %>
      <%- price = 0 %>

      <%- @calculations.payments.each_with_index do |payment,index| %>
          <tr>
            <td><%= payment.group_name %></td>
            <td><%= payment.num_diners %></td>
            <td><%= payment.coupon %></td>
            <td><%= payment.date %></td>
            <td><%= payment.offer_name %></td>
            <%- total_amount=total_amount + payment.price %>
            <%- if price.to_s[price.to_s.length-2] == "." %>
                <td style="background:#F3F861;" class="amount"><%= "$" + payment.price.to_s + "0" %></td>
            <% else %>
                <td style="background:#F3F861;" class="amount"><%= "$" + payment.price.to_s %></td>
            <% end %>

      <%end %>
      <tr>
        <td colspan="4" class="amount"></td>

        <td style="text-align:right;"><b>Impact</b></td>
            <td style="text-align:left;"><b><%= @calculations.human_readable_summary %></b></td>
      </tr>
      <tr>
        <td colspan="3" class="amount"></td>
        <td style="text-align: right;" colspan="2" class="amount"></td>

            <td class="amount"></td>

      </tr>
      <tr class="alt">
        <td colspan="4" class="amount"></td>
        <td style="text-align: right;" class="amount"><b style="font: bold;">Total</b></td>
      </tr>

    </table>

    <table id="summary" align = "left" style="width: 100%;margin-top: 10px;">

      <tr>
        <th>Groups Sent</th>
        <th>Total Customers Met </th>
        <% @calculations.charity_names.each do |charity_name|%>
            <th>Meals Donated to <%= charity_name %></th>
        <% end %>
      </tr>
      <tr>
        <td><%= @calculations.payments.count %></td>
        <td><%= @calculations.payments.sum &:num_diners %></td>
        <% @calculations.charity_ids.each do |charity_id|%>
            <th><%= @calculations.total_purchases_by_charities[charity_id].round %></th>
        <% end %>
      </tr>
      <tr>
        <%- if params[:input_note].present?  %>
            <td colspan="4" style="color:#000000;"><%= params[:input_note] %></td>
        <%- else  %>
            <td colspan="4" style="color:#000000;" id="note_cp"><div id="remove">
              We so appreciate <b><%= @calculations.venue.name %></b>'s as a "Buy One, Feed One" restaurant in our community. The dishes you've donated make the difference you see in the Impact section above. Please call or email with any questions. We would love to hear from you.</div>
            </td>
        <% end  %>

      </tr>


    </table></br>

    <div  style ='text-align:center; margin-top:160px' id="download">
      <%= button_to "Download", invoice_path(:vid => @calculations.venue.id, :date => @calculations.date,:input_note => params[:input_note], :format => 'pdf') %>    </div>
  </div>
  <div id="loading" style="position: absolute; width: 100%; height: 100%; top:0"><div style="background-color: #ff8c00; color: #ffffff; width: 70px; margin:200px auto 0;"><b>Loading....</b></div></div>
</div>
</div>
</body>
</div>

</html>
