<html>
<head>

</head>
<body>
Hey
<br/>
<br/>
Your purchase for <%= @payment.offer.name %> at <%= @payment.offer.venue.name %> expires in 7 days
(<%= @payment.short_expiration_date %>), and we just wanted to shoot you a reminder.
Your "Buy One, Feed One" special is, well, special.
It goes to feed <%= @payment.amount %>  children through <%= @payment.charity.name %> and
our restaurant would love to thank you for your purchase.
<br/>
<br/>
Your original voucher is below. If you have any questions just let us know, and we hope you have an amazing time! 
<br/>
<br/>
“Philanthropists may urge what reforms they will, —less crowding, purer air better 
sanitary regulations: but this question of food underlies all.” -Helen Campbell
<br/>
<br/>
--
<br/>
<br/>
Good for: <%= @payment.offer.name %>
<br/>
Code: <%= @payment.code %>
<br/>
<br/>
<br/>
Voucher expires in 30 days, on <%= @payment.long_expiration_date %>.
<br/>
<br/>
<%= @payment.offer.venue.name %> - <%= @payment.offer.venue.phone %>
<br/>
<a href="<%= google_maps_search(@payment.offer.venue) %>" target="_blank">Get Directions</a>
<br/>
<br/>
<br/>
Contact us at support@foodcircles.net.
<br/>
--
<br/>
REPLY "USED" ANYWHERE IN THE BODY OR SUBJECT TO MARK THIS VOUCHER AS USED
</body>
</html>
