<% content_for(:title, "FoodCircles – For Students | Help People Eat Powerfully") %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=148554958654775";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="about" style="padding-bottom:210px">
    <div class="container">
        <h2>Help People Eat Powerfully</h2>
        <div id="students-intro">
            <p>FoodCircles helps you leverage dining to feed children in need. You can grab a dish at a local restaurant for just $1 or more, and see 100% of that be used to give inpoverished children a chance.
            <br><br>We're often asked when "Buy One, Feed One" will exist in to so-and-so area. <strong>You are the answer to that question.</strong> Without a big team, we rely on you to be the solution to ending hunger in your community. <br><br>And so we've put together a 5-step guide to getting your start.  Check 'em out and request an application if you and your friends think you've got what it takes.</p>
        </div>

        <div id="students">

            <div id="students-photos">
                <%= image_tag "students/students-1.jpg" %>
                <%= image_tag "students/students-2.jpg" %>
                <%= image_tag "students/students-3.jpg" %>
                <%= image_tag "students/students-4.jpg" %>
                <%= image_tag "students/students-5.jpg" %>
                <%= image_tag "students/students-6.jpg" %>
                <%= image_tag "students/students-7.jpg" %>
                <%= image_tag "students/students-8.jpg" %>
                <%= image_tag "students/students-9.jpg" %>
                <%= image_tag "students/students-10.jpg" %>
            </div>

            <div id="students-steps">
                <%= image_tag "students/students-step1.png" %>
                <p>So it turns out, we can’t do a lot of things ourselves.  We need teams.  Far and away, this’ll be the most important decision you make, Commander.  Think of 2-4 individuals you know who are disciplined, wise, and passionate, and start a student organization with them, dedicated to helping people eat powerfully.  Sweet spot for teams are 3-5, including you.</p>
                <%= image_tag "students/students-step2.png" %>
                <p>When we do good for others, it’s rewarding to feel connected to them. That’s why it’s important to find a local nonprofit that your community trusts and can get behind.  You’ll want to seek and partner with a hunger-fighting organization in your area that can provide at least one nutrious meal to a child in need for every $1 received.</p>
                <%= image_tag "students/students-step3.png" %>
                <p>When restaurants advertise on our site and app, they get to meet new customers while doing good, two things they love.  We think getting introduced from the nonprofit you partner with (or professors, etc.) to restaurant owners they know is the best way to build your initial restaurant list, but there’s always the tried-and-true method of just walking in and asking for a meeting (that’s how we did it). </p>
                <%= image_tag "students/students-step4.png" %>
                <p>This is where good starts to happen. Fan the flames though awareness events like Dollar Lunch Day, coffeeshop &amp; hotel partnerships, <strong>Social Butterfly</strong> mixers, and more!  We’ll even buy you and 5 students lunch so you can hear about their experience with FoodCircles and what they want to see next.</p>
                <%= image_tag "students/students-step5.png" %>
                <p>Keep our brains on fire with new restaurant options, field reports from the nonprofit, and useful, funny, interesting stories from our restaurants and local foodies.  We’ll also have special events for new nonprofits who want to join and local companies want to repurpose their dining too. After all, who doesn’t eat out?</p>
            </div>
        </div>
    </div>


        <div id="crowd">
            <%= form_tag "#", :id => 'students-form', method: :post, remote: true, :"data-show-ajax-status-on" => "input[type=submit]" do %>
                <h2>There's a PDF with more details &amp; an online app.<br />Sign up to get both.</h2>
                 <%= text_field_tag :students_email, nil, :placeholder => "you@email.com", :id => "students-input" %><br />
                <%= submit_tag "Request Application", class: "btn-standart", style: "width: 320px; height: 54px;" %>
                <p><em>open to high schoolers, college students, and those with a high school or college spirit.</em></p>
            <% end %>
        </div>
</div>
