<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=148554958654775";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="banner">
    <h1>We connect you to a new group of guys or gals in your city.</h1>
</div>
<div class="about">
    <div class="container">
        <div id="butterfly-title">
            <%= image_tag "butterflies/butterflies-logo.png" %>
        </div>
        <div id="butterfly-step1" class="butterfly-steps">
            <h1>Apply via <span id="butterfly-facebook">Facebook</span></h1>
            <p>You'll receive a Facebook request for our<br /> resident <strong>matchmaker.</strong></p>
           <%= image_tag "butterflies/butterflies-step1.png" %>
        </div>
        <div id="butterfly-path1">
           <%= image_tag "butterflies/butterfly-path1.png" %>
           </div> 
        <div id="butterfly-step2" class="butterfly-steps">
            <h1>We'll <span id="butterfly-match">match</span> you up.</h1>
            <p>Don't worry, we'll let you stalk potential friends<br /> and get <strong>your approval</strong> before we proceed.</p>
            <%= image_tag "butterflies/butterflies-step2.png" %> 
        </div>
        <div id="butterfly-path2">
            <%= image_tag "butterflies/butterfly-path2.png" %>
            </div> 
        <div id="butterfly-step3" class="butterfly-steps">
            <h1>Grab <span id="butterfly-friends">1 <span id="superscript">or</span> 2 friends</span> and go.</h1>
            <p>Prepay $3 (covers your first appetizer) and just<br /> show up at the time and place <strong>you pick</strong>.</p>
            <%= image_tag "butterflies/butterflies-step3.png" %> 
            
        </div>
        <div id="butterfly-path3">
            <%= image_tag "butterflies/butterfly-path3.png" %>
            </div> 
        <div id="butterfly-submit">
            <%= form_tag socialbutterflies_path, method: :post, remote: true, :"data-show-ajax-status-on" => "input[type=submit]" do %>
              <%= text_field_tag :facebook, nil, :placeholder => "http://www.facebook.com/yourprofile", :size => "65" %><br />
              <%= submit_tag "Apply", class: "btn-standart" %>
            <% end %>
        </div>
        <div class='clear'></div>
        <div id="butterfly-questions">
            <h3>Questions you might have</h3>
            <div id="butterfly-faq">
                <%= image_tag "butterflies/butterfly-faq1.png" %>
                <%= image_tag "butterflies/butterfly-faq2.png" %>
                <%= image_tag "butterflies/butterfly-faq3.png" %>
            </div>
            <div id="butterfly-texting">
                <%= image_tag "butterflies/butterfly-texting.png" %>
            </div>
        </div>
    </div>
   
<div id="fbcomments">
    <div class="container">
        <h4>Unanswered question? Email ut as <a href="mailto:hey@foodcircles.net" class="mailus">hey@foodcircles.net</a> or comment below.</h4>
    </div>
    <div class="container">
        <div class="fb-container">
            <div class="fb-comments" data-href="http://www.foodcircles.net/faq" data-width="784" data-num-posts="10"></div>
        </div>
    </div>
</div>

