#sidebar
  %ul
    %li{:class => "#{ 'active' if params[:id] == 'about_we' }"}
      = link_to "About We", "/about_we"
    %li{:class => "#{ 'active' if params[:id] == 'faq' }"}
      = link_to "FAQ", '/faq'
    %li
      = link_to 'For Restaurants', '/restaurants'
    %li
      = link_to 'For Students', '/students'
    %li
      = link_to 'For Companies', '/companies'
    %li
      = link_to 'For Non-Profits', '/nonprofits'
    %li
      = link_to 'For Events', '/organizers'
    %li
      = link_to 'For Social Butterflies', '/socialbutterflies'
