#header
  .container
    = link_to "FoodCircles - Buy One, Feed One", root_path, id: "logo"
    #fed
      %span.num 123
      %span.kids kids fed
    %ul#social
      %li
        %a.bl{:href => "#"} Blog
      %li
        %a.fb{:href => "#"} Facebook
      %li
        %a.tw{:href => "#"} Twitter
      %li
        = link_to('Logout', main_app.destroy_user_session_path, :method => :delete) if current_user
        = link_to('Sign in ▸', main_app.new_user_session_path) unless current_user
        / %a.si{:href => "#"} Sign in ▸
    %ul#nav
      %li{:class => "#{ 'active' if controller_name == 'home' }"}
        =link_to 'Home', root_path
      %li{:class => "#{ 'active' if controller_name == 'faq' }"}
        =link_to 'FAQ', faq_path
      %li
        =link_to 'About Us', '#'
      %li
        =link_to 'For Restaurants', main_app.restaurants_path
  / .wrapper
  /   = link_to root_path do
  /     %strong#logo FoodCircles
  /   %em#slogan Feel good dinning.
  /   - if current_user
  /     = render :partial => 'partials/header_signed_in'
  /   - else
  /     = render :partial => 'partials/header_sign_in'
  /   %ul#social
  /     %li
  /       %a.blog{:href => "http://blog.foodcircles.net" , :target => "_blank"} Blog
  /     %li
  /       %a.facebook{:href => "http://facebook.com/foodcircles",:target => "_blank"} Facebook
  /     %li
  /       %a.twitter{:href => "https://twitter.com/#!/FoodCircles", :target => "_blank"} Twitter


