#header
  .container
    = link_to "FoodCircles", root_path, :id => "logo"

    %h3.tagline
      Buy One, Feed One.

    .header-utils
      #social
        %ul
          %a{class: "icon-soc-facebook", href: "http://facebook.com/foodcircles"}
          %a{class: "icon-soc-twitter", href: "https://twitter.com/#!/FoodCircles"}
          %a{class: "icon-soc-foodcircles", href: "http://blog.foodcircles.net"}

      .welcome-line
        - if user_signed_in?

          Welcome Back!
          %a{href: "/timeline"}
            Your Account
            %i{class: "arrow-right"}
        - else
          Hey! you new here?
          %a{href: '#', class:'sign-form-link'}
            Sign In
            %i{class: "arrow-down"}
        / = link_to('Logout', main_app.destroy_user_session_path, :method => :delete) if current_user
        
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), html:{class:"sign-form"}) do |f|
        .row
          %a{href: "/users/auth/facebook", class: "btn-facebook"}
            Sign up
            %i{class: "icon-btn-facebook"}
          = f.email_field :email, class: 'field medium'
        .row
          %a{href: "/users/auth/twitter", class: "btn-twitter"}
            Sign up
            %i{class: "icon-btn-twitter"}
          = f.password_field :password, class: 'field medium'
        .form-foot
          %span{class: "btn-small submit"}
            Sign up
            = f.submit

          %p{class: "form-caption"}
            Have an account?
            - if user_signed_in?
              = link_to('Logout', main_app.destroy_user_session_path, :method => :delete)
            - else
              = link_to('Sign in', main_app.new_user_session_path)

    #nav
      %ul
        %li{class: "active"}
          = link_to "Home", main_app.root_path
        %li
          = link_to "FAQ", main_app.faq_path
          %li
            %a{href: "#"}
              About Us
          %li
            %a{href: "#"}
              Get Involved ▾             
            %ul
              %li
                = link_to "For Restaurants", main_app.restaurants_path
              %li
                = link_to "For Students", main_app.students_path
              %li
                = link_to "For Events", main_app.organizers_path
              %li
                = link_to "For Companies", main_app.companies_path
              %li
                = link_to "For Non-Profits", main_app.nonprofits_path
              %li
                = link_to "Social Butterflies", main_app.socialbutterflies_path
  / %li{:class => "#{ 'active' if controller_name == 'home' }"}

.mini-header
  .mh-main
    .container
      %a{class: "logo", href: root_path}
      .donation-count
        %strong= total_payments
        meals donated to date
      .account
        %a{href: "#"}
          My Account 
          %i{class: "arrow-right white"}
      %ul{class: "nav"}
        %li
          = link_to "Home", root_path
        %li
          = link_to "FAQ", faq_path
        %li
          = link_to "About Us", root_path
        %li
          %a{href: "#"}
            Get Involved
            %i{class: "arrow-down white"}
          %ul
            %li
              = link_to "For Restaurants", main_app.restaurants_path
            %li
              = link_to "For Students", main_app.students_path
            %li
              = link_to "For Events", main_app.organizers_path
            %li
              = link_to "For Companies", main_app.companies_path
            %li
              = link_to "For Non-Profits", main_app.nonprofits_path
            %li
              = link_to "Social Butterflies", main_app.socialbutterflies_path 

  .mh-sub
    .container
      .current-goal
        .current
          %strong= total_week_payments.count
          %small meals
        .progress
          %span.goal this week's goal
          %span.total= "#{weekly_meal_goal} meals"
          %em.bar{style: "width: #{percent}%"}
      %p.getapp 
        Arm yourself for the streets.
        %a.popup-link{href: app_popup_path} Get the App
