#container
  = image_tag 'logo.png', :id => 'logo'
  %h2 Always have free perks in your pocket!
  = link_to "https://play.google.com/store/apps/details?id=co.foodcircles" do
    = image_tag 'home/mobile/phone.png', :id => 'phone'
    = image_tag 'home/mobile/dl.jpg', :id => 'dl'
#footer
  = link_to "Full Website", root_path(:mobile => '0')