#hero.banner
  .cnt
    .centerer
      .centerer-inner
        %h3
          Earth, Fire, Wind, Water, Heart.
        %p
          By our powers combined,<br />I am captain planet.
  %ul{class: "slides"}
    %li
      %img{src: "/assets/slide-01.jpg", alt: "", width: "1280", height: "360"}
    %li
      %img{src: "/assets/slide-02.jpg", alt: "", width: "1280", height: "360"}
    %li
      %img{src: "/assets/slide-03.jpg", alt: "", width: "1280", height: "360"}
    %li
      %img{src: "/assets/slide-04.jpg", alt: "", width: "1280", height: "360"}
  %a{href: "#", class: "slide-prev icon-arrow-prev"}
  %a{href: "#", class: "slide-next icon-arrow-next"}

  .paging

  .donation-progress
    - percent = @adjusted_total == 0 ? 0 : @progress.to_f / @adjusted_total * 100
    .bar{style: "width:" + percent.to_s + "%"}
      %span{class: "text"}
        %strong
          %span
            = @progress
            %em of
          = @adjusted_total
          meals
        donated this week

#home
  .container
    .products
      .products-head
        .head-btns
          %a.btn-standart.popup-link{href: app_popup_path} Get the app
          %a.btn-standart.popup-link{href: notify_signup_path}Get updates
        
        = render partial: "filters"

        %h6 
          let’s end hunger
        %i.arrow-down
          %i.arrow-down      
      
      .products-tiles
        - @offers.each do |offer|
          %div{class: "tile " + ["red", "yellow", "green"].sample + ( offer.venue.vouchers_available == 0 ? " sold-out" : "" ), :"data-city" => "chicago", :"data-cat" => "italian"}
            %h3= link_to offer.venue.name, offer.venue
            .thumb
              %span.social
                %a{href: "#", class: "btn-mini"}
                  %i.icon-facebook
                %a{href: "#", class: "btn-mini"}
                  %i.icon-twitter
              .progress
                - percent = (offer.venue.vouchers_available.to_f / offer.venue.vouchers_total.to_f) * 100
                - if (offer.venue.vouchers_available.nil? or offer.venue.vouchers_available == 0)
                  %span.pbar{style: "height: 0"}
                    %a.block{href: notify_signup_path}
                      %small Notify me
                - else
                  %span.pbar{style: "height:" + percent.to_s + "%"}
                    %span.block
                      %strong= offer.venue.vouchers_available
                      %small left
                  
              /%a{href: main_app.deal_popup_not_logged_path(offer)}
              %a.deallink{href: '/deal_popup_not_logged/' + offer.id.to_s}
                %span.price
                  %strong= number_to_currency(offer.price, :precision => 0)
                  %span{class: "old"}
                    = number_to_currency(offer.original_price, :precision => 0)
                    %i{class: "icon-strike strike"}
                  %span{class: "shadow"}
                = image_tag offer.image.url
                / %img{src: "http://html-preview.htmlburger.com/jonathan_kumar/foodcircles/r165787-4d7faa81/css/images/brownies.jpg", alt: "", width: "253", height: "163"}
                %span{class: "title"}= offer.name
            .tags
              - if not offer.category.empty?
                tags:
                = raw offer.category.collect { |cat| link_to cat.name, cat }.join(",")

