#hero.banner
  .cnt
    .centerer
      .centerer-inner
        %span#toShow.hero-title-upper

          %br/
        %span#odds.hero-title-tagline

  %ul{class: "slides"}
    - @news.each do |news|
      %li
        %a{href: news.website_url || "#",  :"data-mixpanel-event" => "Clicked a news link", :"data-mixpanel-options" => {news_link: news.website_url}.to_json}
          %img{src: news.website_image.url, alt: "", width: "1280", height: "360"}
  %a{href: "#", class: "slide-prev icon-arrow-prev"}
  %a{href: "#", class: "slide-next icon-arrow-next"}

  .paging

  .donation-progress
    .bar{style: "width: #{percent}%"}
    .text-pusher{style: "width: #{percent}%"}
    %span.text
      .goal-indication
        %span.sofar
          %p
            = weekly_progress[:current_progress]
        %span.weeklygoal
          %p
            = weekly_progress[:adjusted_total]
#home
  .container
    .products
      .products-head
        .head-btns
          %a.btn-standart{href: "https://itunes.apple.com/us/app/foodcircles-for-iphone/id710592600"}
            %img.app-icon{src: "/apple-logo.png"}>/
            Apple
          %a.btn-standart{href: "https://play.google.com/store/apps/details?id=co.foodcircles"}
            %img.app-icon{src: "/android-logo.png"}>/
            Android


        = render partial: "filters"

        %h6
          Dinner Plans in 60 Seconds
        %i.arrow-down
          %i.arrow-down

      .products-tiles
        - @venues.each do |venue|
          %div{class: "tile #{ venue.num_vouchers > 2 ? "green" : (venue.num_vouchers == 1 ? "red" : "yellow")} #{( venue.num_vouchers == 0 ? "sold-out" : "" )} #{venue.venue_tags.map{|c| c.name.parameterize }.join(" ")} #{venue.experience_tags.map{|c| c.name.parameterize }.join(" ")} #{venue.city.parameterize}"}
            %h3= venue.name
            .thumb
              - if venue.has_vouchers?
                %span.social
                  %a{href: "http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://joinfoodcircles.org/"+venue.slug+"&p[images][0]=http://staging.foodcircles.net"+ venue.restaurant_tile_image.thumb("274x163").url+".png&p[title]=At%20"+venue.name+":%20"+venue.offers.order("min_diners ASC").first.name+"%20for%20$1.&p[summary]=100%25%20of%20purchase%20goes%20to%20buy%20dinner%20for%20a%20child%20in%20need%20@foodcircles.%20http://joinfoodcircles.org/"+venue.slug+"%20#bofo", target: "_blank", class: "btn-mini"}
                    %i.icon-facebook
                  %a{href: "https://twitter.com/intent/tweet?status=At%20"+venue.name+":%20"+venue.offers.order("min_diners ASC").first.name+"%20for%20$1.%20100%25%20of%20purchase%20goes%20to%20buy%20dinner%20for%20a%20child%20in%20need%20@foodcircles.%20http://joinfoodcircles.org/"+venue.slug+"%20#bofo", target: "_blank", class: "btn-mini"}
                    %i.icon-twitter
              .progress
                - percent = (venue.num_vouchers.to_f / venue.vouchers_total.to_f) * 100
                - if venue.sold_out?
                  %span.pbar{style: "height: 0"}
                    - unless @watched_venues.include? venue
                      = link_to content_tag(:small, "Notify me"), subscribe_venue_path(venue), :remote => true, :method => :post, :class => [:block, :notification_request]
                - else
                  %span.pbar{style: "height:" + percent.to_s + "%"}
                    %span.block
                      %strong= venue.num_vouchers
                      %small left

              /%a{href: main_app.deal_popup_not_logged_path(offer)}
              %a.deallink.popup-link{href: venue.offers.order("min_diners ASC").first.id.to_s, :"data-slug" => venue.slug, :"data-disabled" => "#{venue.sold_out?}", :"data-mixpanel-event" => "Clicked on a Restaurant", :"data-mixpanel-options" => {restaurant: venue.name}.to_json }
                %span.price
                  %strong= number_to_currency(venue.offers.order("min_diners ASC").first.price, :precision => 0)
                  %span{class: "old"}
                    = number_to_currency(venue.offers.order("min_diners ASC").first.original_price, :precision => 0)
                    %i{class: "icon-strike strike"}
                %span{class: "shadow"}
                = image_tag venue.restaurant_tile_image.thumb("274x163").url
                %span{class: "title"}= venue.sold_out? ? "Sold Out" : venue.offers.order("min_diners ASC").first.name
            .tags
              - tags = []
              - if not venue.experience_tags.empty?
                - venue.experience_tags.each do |t|
                  - tags << {name: t.name, type: 'experience_tag'}
              - if not venue.venue_tags.empty?
                - venue.venue_tags.each do |t|
                  - tags << {name: t.name, type: 'venue_tag'}
              - if not tags.empty?
                tags:
                = raw tags.collect { |tag| link_to tag[:name], '#', class: 'filter-tag', data: { type: tag[:type] }}.join(", ")
        %a.tile.add-new.popup-link{href: postcard_popup_path }
          %div.add-new-inner
            %strong Request
            %small Restaurant
            %i.icon-plus

      = will_paginate @venues, :style => 'display: none;'
