#hero.banner
  .cnt
    .centerer
      .centerer-inner
        %h3
          Earth, Fire, Wind, Water, Heart.
        %p
          By our powers combined,<br />I am captain planet.
  %ul{class: "slides"}
    - @news.each do |news|
      %li
        %img{src: news.website_image.url, alt: "", width: "1280", height: "360"}
  %a{href: "#", class: "slide-prev icon-arrow-prev"}
  %a{href: "#", class: "slide-next icon-arrow-next"}

  .paging

  .donation-progress
    .bar{style: "width: #{percent}%"}
    .text-pusher{style: "width: #{percent}%"}
    %span.text
      %strong
        %span
          = weekly_progress[:current_progress]
          %em of
        = weekly_progress[:adjusted_total]
        meals
      donated this week
#home
  .container
    .products
      .products-head
        .head-btns
          %a.btn-standart.popup-link{href: app_popup_path} Get the app
          - if current_user
            - if show_newsletter_subscription_button?
              = link_to "Get updates", subscribe_newsletter_path, :remote => true, :method => :post, :class => ["btn-standart"]
          - else
            %a.btn-standart.popup-link{href: notify_signup_path}Get updates

        = render partial: "filters"

        %h6
          let’s end hunger
        %i.arrow-down
          %i.arrow-down

      .products-tiles
        - @venues.each do |venue|
          %div{class: "tile #{ venue.vouchers_available > 4 ? "green" : (venue.vouchers_available == 1 ? "red" : "yellow")} #{( venue.vouchers_available == 0 ? "sold-out" : "" )} #{venue.offers.first.category.map{|c| c.name.parameterize }.join(" ")} #{venue.city.parameterize}"}
            %h3= venue.name
            .thumb
              %span.social
                %a{href: "#", class: "btn-mini"}
                  %i.icon-facebook
                %a{href: "#", class: "btn-mini"}
                  %i.icon-twitter
              .progress
                - percent = (venue.vouchers_available.to_f / venue.vouchers_total.to_f) * 100
                - if (venue.vouchers_available.nil? || venue.vouchers_available == 0)
                  %span.pbar{style: "height: 0"}
                    - unless @watched_venues.include? venue
                      - if current_user
                        = link_to content_tag(:small, "Notify me"), subscribe_venue_path(venue, :format => :json), :remote => true, :method => :post, :class => [:block, :notification_request]
                      - else
                        %a.block{href: notify_signup_path, class: "popup-link"}
                          %small Notify me
                - else
                  %span.pbar{style: "height:" + percent.to_s + "%"}
                    %span.block
                      %strong= venue.vouchers_available
                      %small left

              /%a{href: main_app.deal_popup_not_logged_path(offer)}
              %a.deallink.popup-link{href: venue.offers.order("min_diners ASC").first.id.to_s, :"data-slug" => venue.slug}
                %span.price
                  %strong= number_to_currency(venue.offers.order("min_diners ASC").first.price, :precision => 0)
                  %span{class: "old"}
                    = number_to_currency(venue.offers.order("min_diners ASC").first.original_price, :precision => 0)
                    %i{class: "icon-strike strike"}
                %span{class: "shadow"}
                = image_tag venue.restaurant_tile_image.thumb("274x163").url
                / %img{src: "http://html-preview.htmlburger.com/jonathan_kumar/foodcircles/r165787-4d7faa81/css/images/brownies.jpg", alt: "", width: "253", height: "163"}
                %span{class: "title"}= venue.offers.order("min_diners ASC").first.name
            .tags
              - if not venue.offers.order("min_diners ASC").first.category.empty?
                tags:
                = raw venue.offers.order("min_diners ASC").first.category.collect { |cat| link_to cat.name, cat }.join(",")
        %a.tile.add-new.popup-link{href: postcard_popup_path }
          %div.add-new-inner
            %strong Add a
            %small restaurant
            %i.icon-plus

      = will_paginate @venues
