#container
  = image_tag 'logo.png', :id => 'logo'
  %h2 Always have free perks in your pocket!
  = link_to "http://itunes.apple.com/us/app/foodcircles/id526107767" do
    = image_tag 'home/mobile/iphone.jpg', :id => 'phone'
    = image_tag 'home/mobile/dl-iphone.jpg', :id => 'dl'
#footer
  = link_to "Full Website", root_path(:mobile => '0')