#hero.banner
  .cnt
    .centerer
      .centerer-inner
        %h3
          Earth, Fire, Wind, Water, Heart.
        %p
          By our powers combined,<br />I am captain planet.
  %ul{class: "slides"}
    %li
      %img{src: "/assets/slide-01.jpg", alt: "", width: "1280", height: "360"}
    %li
      %img{src: "/assets/slide-02.jpg", alt: "", width: "1280", height: "360"}
    %li
      %img{src: "/assets/slide-03.jpg", alt: "", width: "1280", height: "360"}
    %li
      %img{src: "/assets/slide-04.jpg", alt: "", width: "1280", height: "360"}

  %a{href: "#", class: "slide-prev icon-arrow-prev"}
  %a{href: "#", class: "slide-next icon-arrow-next"}

  .paging

  .donation-progress
    .bar{style: "width: #{percent}%"}
      %span{class: "text"}
        %strong
          %span
            = weekly_progress[:current_progress]
            %em of
          = weekly_progress[:adjusted_total]
          meals
        donated this week

#home
  .container
    .products
      .products-head
        .head-btns
          %a.btn-standart.popup-link{href: app_popup_path} Get the app
          %a.btn-standart.popup-link{href: notify_signup_path}Get updates

        = render partial: "filters"

        %h6
          let’s end hunger
        %i.arrow-down
          %i.arrow-down

      .products-tiles
        - @venues.each do |venue|
          %div{class: "tile " + ["red", "yellow", "green"].sample + ( venue.vouchers_available == 0 ? " sold-out" : "" ), :"data-city" => "chicago", :"data-cat" => "italian"}
            %h3= link_to venue.name, venue
            .thumb
              %span.social
                %a{href: "#", class: "btn-mini"}
                  %i.icon-facebook
                %a{href: "#", class: "btn-mini"}
                  %i.icon-twitter
              .progress
                - percent = (venue.vouchers_available.to_f / venue.vouchers_total.to_f) * 100
                - if (venue.vouchers_available.nil? || venue.vouchers_available == 0)
                  %span.pbar{style: "height: 0"}
                    %a.block{href: notify_signup_path}
                      %small Notify me
                - else
                  %span.pbar{style: "height:" + percent.to_s + "%"}
                    %span.block
                      %strong= venue.vouchers_available
                      %small left

              /%a{href: main_app.deal_popup_not_logged_path(offer)}
              %a.deallink.popup-link{href: venue.offers.order("min_diners ASC").first.id.to_s, :"data-slug" => venue.slug}
                %span.price
                  %strong= number_to_currency(venue.offers.order("min_diners ASC").first.price, :precision => 0)
                  %span{class: "old"}
                    = number_to_currency(venue.offers.order("min_diners ASC").first.original_price, :precision => 0)
                    %i{class: "icon-strike strike"}
                  %span{class: "shadow"}
                = image_tag venue.main_image.url
                / %img{src: "http://html-preview.htmlburger.com/jonathan_kumar/foodcircles/r165787-4d7faa81/css/images/brownies.jpg", alt: "", width: "253", height: "163"}
                %span{class: "title"}= venue.offers.order("min_diners ASC").first.name
            .tags
              - if not venue.offers.order("min_diners ASC").first.category.empty?
                tags:
                = raw venue.offers.order("min_diners ASC").first.category.collect { |cat| link_to cat.name, cat }.join(",")

      = will_paginate @venues

