#container
  = image_tag 'logo.png', :id => 'logo'
  %h2 Do Something Powerful with Your Hunger.
  = link_to "https://itunes.apple.com/us/app/foodcircles-for-iphone/id710592600?ls=1&mt=8" do
    = image_tag 'home/mobile/iphone.jpg', :id => 'phone'
    = image_tag 'home/mobile/dl-iphone.jpg', :id => 'dl'
#footer
  = link_to "Full Website", root_path(:mobile => '0')