.banner
  .cnt
    .centerer
      .centerer-inner
        %h3
          Earth, Fire, Wind, Water, Heart.
        %p
          By our powers combined,<br />I am captain planet.
  %ul{class: "slides"}
    %li
      %img{src: "/assets/slide-01.jpg", alt: "", width: "1280", height: "360"}
    %li
      %img{src: "/assets/slide-02.jpg", alt: "", width: "1280", height: "360"}
    %li
      %img{src: "/assets/slide-03.jpg", alt: "", width: "1280", height: "360"}
    %li
      %img{src: "/assets/slide-04.jpg", alt: "", width: "1280", height: "360"}
  %a{href: "#", class: "slide-prev icon-arrow-prev"}
  %a{href: "#", class: "slide-next icon-arrow-next"}

  .paging

  .donation-progress
    - percent = @progress / @adjusted_total
    .bar{style: "width:" + percent.to_s + "%"}
      %span{class: "text"}
        %strong
          %span
            = @progress
            %em of
          = @adjusted_total
          meals
        donated this week

.main
  .shell
    .products
      .products-head
        .filters
          %h6
            %a{href: "#"}
              dinner plans in 60 seconds
      .products-tiles
        - @offers.each do |offer|
          %div{class: "tile blue", :"data-city" => "chicago", :"data-cat" => "italian"}
            %h3= link_to offer.venue.name, offer.venue
            .thumb
              .progress
                - percent = (offer.available.to_f / offer.total.to_f) * 100
                - if (offer.available.to_i.nil? or offer.available.to_i == 0)
                  .bar{style: "height: 0"}
                    %span#pbar
                      %a{href: notify_signup_path}
                        .block
                          %span#overlay
                          %small Notify me
                - else
                  .bar{style: "height:" + percent.to_s + "%"}
                    .block
                      %strong= offer.available.to_i
                      %small left
                  
                  
                /  .bar{style: "height:" + percent.to_s + "%"}
                /  .block
                /    %strong= offer.available.to_i
                /    %small left
              %a{href: "#"}
                .price
                  %strong= number_to_currency(offer.price, :precision => 0)
                  %span{class: "old"}
                    = number_to_currency(offer.original_price, :precision => 0)
                    %i{class: "icon-strike strike"}
                  %span{class: "shadow"}
                = image_tag offer.image.url
                / %img{src: "http://html-preview.htmlburger.com/jonathan_kumar/foodcircles/r165787-4d7faa81/css/images/brownies.jpg", alt: "", width: "253", height: "163"}
                %span{class: "title"}= offer.name
            .tags
              - if not offer.category.empty?
                tags:
                = raw offer.category.collect { |cat| link_to cat.name, cat }.join(",")
