<% content_for(:active_tab) do %>
<div class="settings">
  <fieldset  data-url="<%= settings_path %>">
    <h5>
      <a href="#" class="edit"><i class="icon-circle-arrow"></i> <span>edit</span></a>
      General Information
      <span class="line"></span>
    </h5>
    <input type="hidden" value="put" name="_method">
    <div class="row">
      <span class="label">Full name</span>
      <span class="value"><%= current_user.name %></span>
      <input type="text" class="field" value="" name="user[name]" />
    </div><!-- /.row -->
    <div class="row">
      <span class="label">City</span>
      <span class="value"><%= current_user.city %></span>
      <input type="text" class="field" value="" name="user[city]"/>
    </div><!-- /.row -->
    <div class="row tight">
      <span class="label">Zip</span>
      <span class="value"><%= current_user.zip %></span>
      <input type="text" class="field" value="" name="user[zip]" />
    </div><!-- /.row -->
    <div class="row tight">
      <span class="label">Phone</span>
      <span class="value"><%= current_user.phone %></span>
      <input type="text" class="field" value="" name="user[phone]" />
    </div><!-- /.row -->
    <div class="row">
      <span class="label">GENDER</span>
      <span class="value"><%= current_user.gender %></span>
      <input type="text" class="field" value="" name="user[gender]" />
    </div><!-- /.row -->
    <div class="row">
      <span class="label">DOB</span>
      <span class="value"><%= current_user.birthday %></span>
      <input type="text" class="field" value="" name="user[birthday]"/>
    </div><!-- /.row -->
  </fieldset>
  <fieldset  data-url="<%= settings_path %>">
    <h5>
      <a href="#" class="edit"><i class="icon-circle-arrow"></i> <span>edit</span></a>
      Email
      <span class="line"></span>
    </h5>
    <input type="hidden" value="put" name="_method">
    <div class="row">
      <span class="label">Email</span>
      <span class="value"><%= current_user.email %></span>
      <input type="email" class="field" value="" name="user[email]" />
    </div><!-- /.row -->
  </fieldset>
  <% if current_user.encrypted_password.present? %>
    <fieldset  data-url="<%= update_password_settings_path %>">
      <h5>
        <a href="#" class="edit"><i class="icon-circle-arrow"></i> <span>edit</span></a>
        Password
        <span class="line"></span>
      </h5>
      <input type="hidden" value="put" name="_method">
      <div class="row rpassword">
        <span class="label">Current Password</span>
        <span class="value" data-keep='yes'>********</span>
        <input type="password" class="field" value="" name="user[current_password]"/>
      </div><!-- /.row -->
      <div class="row">
        <span class="label">Password</span>
        <span class="value" data-keep='yes'>********</span>
        <input type="password" class="field" value="" name="user[password]"/>
      </div><!-- /.row -->
      <div class="row rpassword">
        <span class="label">Confirm New Password</span>
        <input type="password" class="field" value="" name="user[password_confirmation]"/>
      </div><!-- /.row -->
    </fieldset>
  <% else %>
    <fieldset  data-url="<%= settings_path %>">
      <h5>
        <a href="#" class="edit"><i class="icon-circle-arrow"></i> <span>edit</span></a>
        Password
        <span class="line"></span>
      </h5>
      <input type="hidden" value="put" name="_method">
      <div class="row">
        <span class="label">Password</span>
        <span class="value" data-keep='yes'>********</span>
        <input type="password" class="field" value="" name="user[password]"/>
      </div><!-- /.row -->
      <div class="row rpassword">
        <span class="label">Confirm New Password</span>
        <input type="password" class="field" value="" name="user[password_confirmation]"/>
      </div><!-- /.row -->
    </fieldset>
  <% end %>
  <% if @card_last_4_digits  %>
    <fieldset>
      <h5>
        Saved Credit Cards
        <span class="line"></span>
      </h5>
      <div class="row">
        <span class="label">CREDIT CARD</span>
        <span class="value">**** **** **** **** <%= @card_last_4_digits %></span>
        <%= link_to "delete", credit_card_settings_path , :remote => true, :method => :delete, :confirm => "Are you sure?", :class => ["delete"] %>
        <input type="text" class="field" value="" />
      </div><!-- /.row -->
    </fieldset>
  <% end %>
  <fieldset class="social-connections">
    <h5>
      Social Connections
      <span class="line"></span>
    </h5>
    <div class="row tight">
      <span class="label">Facebook</span>
      <span class="value">Connected</span>
      <a href="#" class="delete">Disconnect</a>
    </div><!-- /.row -->
    <div class="row">
      <span class="label">Twitter</span>
      <span class="value"><em>Not connected</em></span>
    </div><!-- /.row -->
  </fieldset>
</div><!-- /.settings -->
<% end %>
<%= render :partial => "shared/account", :locals => {:active_tab => "settings" }%>
