<div class="block <%= payment_counter % 2 == 0 ? 'left' : 'right' %>">
  <div class="cnt">
    <div class="head">
      <h5><%= payment.offer.venue.name %></h5>
      <p><%= payment.created_at.strftime("%m/%d/%y") %></p>
    </div><!-- /.head -->
    <% if payment.active? %>
      <a href="/reciept/<%= payment.id %>" class="body recieptlink popup-link">
        <span>View Reciept</span>
        <%= image_tag payment.offer.venue.timeline_image.thumb("205x155").url if payment.offer.venue.timeline_image %>
      </a><!-- /.body -->
    <% else %>
      <div class="body <%= payment.state.downcase %>">
        <span> <%= payment.state %> </span>
        <%= image_tag payment.offer.venue.timeline_image.thumb("205x155").url if payment.offer.venue.timeline_image %>
      </div>
    <% end %>
    <div class="foot">
      <div class="kids">
        <i class="icon-kid"></i>
        <%= payment.amount.to_i %>
      </div><!-- /.kids -->
      <div class="socials">
        <a href= "http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://staging.foodcircles.net/<%=payment.offer.venue.slug%>&p[images][0]=http://staging.foodcircles.net<%= payment.offer.venue.restaurant_tile_image.thumb("274x163").url%>.png&p[title]=At%20<%=payment.offer.venue.name%>:%20<%=payment.offer.venue.offers.order("min_diners ASC").first.name%>%20for%20$1.&p[summary]=100%25%20of%20purchase%20goes%20to%20buy%20dinner%20for%20a%20child%20in%20need%20@foodcircles.%20http://staging.foodcircles.net/<%=payment.offer.venue.slug%>%20#bofo" target="_blank" class="icon-yellow-facebook"></a>
        <a href="https://twitter.com/intent/tweet?status=At%20<%=payment.offer.venue.name%>:%20<%=payment.offer.venue.offers.order("min_diners ASC").first.name%>%20for%20$1.%20100%25%20of%20purchase%20goes%20to%20buy%20dinner%20for%20a%20child%20in%20need%20@foodcircles.%20http://staging.foodcircles.net/<%=payment.offer.venue.slug%>20#bofo", target="_blank" class="icon-yellow-twitter"></a>
      </div><!-- /.socials -->
      <span class="divider"></span>
    </div><!-- /.foot -->
  </div><!-- /.cnt -->
  <%- if payment_counter % 2 == 0 %>
    <i class="arrow-right"><i class="arrow-right"></i></i>
  <%- else %>
    <i class="arrow-left"><i class="arrow-left"></i></i>
  <%- end %>
  <i class="circle"></i>
</div><!-- /.block left -->
