<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=148554958654775";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div id="headline">
    <div class="container">

        <h1>Get Lunch Together</h1>
        <p>CHAT ON A MAP + COMPANY TRACKING + COORDINATE PUBLICALLY OR PRIVATELY</p>
        <a href="#companies-form"><%= image_tag "companies/companies-invite.png", id: "invite" %></a>
        <div id="chatapp-image">
            <%= image_tag "companies/companies-chatapp.png" %>
        </div>

    </div> <!--container -->
    </div>

    <div id="white-section">

        <div class="container">

            <div id="companies-chat" class="grid">
                <div class="left-section">
                    <h1>Chat on a map</h1>
                    <p>Some random copy goes here. Some random copy goes here. Some random copy goes here.</p>
                </div>
                <div class="right-section">
                    <%= image_tag "companies/companies-chat.png" %>
                </div>
                
            </div>

            <div id="companies-tracking" class="grid">

                 <div class="left-section">
                    <%= image_tag "companies/companies-tracking.png" %>
                </div>
                <div class="right-section">
                    <h1>Company tracking</h1>
                    <p>Some random copy goes here. Some random copy goes here. Some random copy goes here.</p>
                </div>
                
            </div>

            <div id="companies-coordinate" class="grid">

                 <div class="left-section">
                    <h1>Coordinate Publicly Or Privately</h1>
                    <p>Some random copy goes here. Some random copy goes here. Some random copy goes here.</p>
                    
                </div>
                <div class="right-section">
                    <%= image_tag "companies/companies-coordinate.png" %>
                </div>
                
            </div>
            
            <div id="companies-form">

            <%= form_tag companies_path, method: :post, remote: true, :"data-show-ajax-status-on" => "input[type=submit]" do %>
                <%= text_field_tag :company, nil, :placeholder => "company"%>
                <%= text_field_tag :name, nil, :placeholder => "name"%>
                <%= text_field_tag :email, nil, :placeholder => "email"%>
                <%= submit_tag "Request Invite", :class => "btn-standart", style: "width: 320px; height: 40px;" %>
            <% end %>
            <p><strong>Get Signed Up</strong></p>
            <p>Currently open to companies only. Sign up to get more info.</p>

            </div>


        </div> <!-- container -->

       </div> <!-- white section -->

