<% content_for(:title, "FoodCircles – For Restaurants | End Hunger for More than Your Diners") %>

<div class="container">
    <h2>End Hunger for More than Your Diners</h2>
    
    <div class="placard alpha">
        <div class="placard-heading alpha">
            <h1>3 STEPS TO USING FOODCIRCLES</h1>
        </div>

        <div class="steps alpha">
            <div class="step1">
                <%= image_tag "mealupgrade.png" %>
               <p>What’s the crowd-favorite app or dessert? What goes <strong>best</strong> with your tastiest main entree?</p>
            </div>
            <div class="step2">
                <%= image_tag "sellit.png" %>
                <p>At a price diners choose – with <strong>100%</strong> sent to feed hungry kids. In return, they get a digital voucher to redeem.</p>
            </div>
            <div class="step3">
                <%= image_tag "dinein.png" %>
                <p>Diners redeem the dish they donated for in addition to regularly purchased food and drink.</p>
            </div>
            
        </div>
    </div>

    <div class="placard beta">

        <%= image_tag "stringleft.png", alt: "", class: "stringleft" %>
        <%= image_tag "stringright.png", alt: "", class: "stringright" %>

        <div class="placard-heading">
        <h1>BY THE NUMBERS</h1>
        </div>
        <div class="steps">
            <div class="step1">
                <p><%= image_tag "3outof4.png", alt: "", class: "restaurant-numbers" %>diners we talked to say that <strong>Buy One, Feed One</strong> philosophy at certain restaurants affects where they decide to eat.</p>
            </div>
            <div class="step2">
               <p><%= image_tag "3dollars.png", alt: "", class: "restaurant-numbers" %>is the average cost of a donated appetizer. The value? Meeting a diner who shares your belief – that <strong>no child</strong> should go hungry.</p> 
            </div>
            <div class="step3">
                <p><%= image_tag "1dollar.png", alt: "", class: "restaurant-numbers" %>is the cost to give a dinner to a child in need. We do not keep <strong>any %</strong> of the diner's donation; the good you're doing stays transparent.</p>
            </div>
        </div>
        
    </div>

    <div class="placard omega">
        <%= image_tag "stringleft.png", alt: "", class: "stringleft" %>
        <%= image_tag "stringright.png", alt: "", class: "stringright" %>
        <div class="placard-heading">
        <h1>REQUEST AN INVITE</h1>
        </div>
        <form id="restaurant-invite" action="">
          <%= form_tag restaurants_path, method: :post, remote: true, :"data-show-ajax-status-on" => "input[type=submit]" do %>
            <%= label_tag 'join', 'JOIN THE CAUSE' %>
            <%= text_field_tag :name, nil, :placeholder => "restaurant name"%>
            <%= text_field_tag :email, nil, :placeholder => "email"%>
            <%= submit_tag 'Send', :class => "btn-standart" %>
          <% end %>
        </form>
    </div>
</div>
