<% content_for(:title, "FoodCircles – For Restaurants | End Hunger for More than Your Diners") %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=526839707387980";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
    <h2>End Hunger for More than Your Diners</h2>
    
    <div class="placard alpha">
        <div class="placard-heading alpha">
            <h1>3 STEPS TO USING FOODCIRCLES</h1>
        </div>

        <div class="steps alpha">
            <div class="step1">
                <%= image_tag "mealupgrade.png" %>
               <p>What’s the crowd-favorite app or dessert? What goes <strong>best</strong> with your tastiest main entree?</p>
            </div>
            <div class="step2">
                <%= image_tag "sellit.png" %>
                <p>At a price diners choose – with <strong>100%</strong> sent to feed hungry kids.</p>
            </div>
            <div class="step3">
                <%= image_tag "dinein.png" %>
                <p>Diners redeem a digital voucher to receive the dish in addition to regularly purchased food and drink.</p>
            </div>
            
        </div>
    </div>

    <div class="placard beta">

        <%= image_tag "stringleft.png", alt: "", class: "stringleft" %>
        <%= image_tag "stringright.png", alt: "", class: "stringright" %>

        <div class="placard-heading">
        <h1>BY THE NUMBERS</h1>
        </div>
        <div class="steps">
            <div class="step1">
                <p><%= image_tag "3outof4.png", alt: "", class: "restaurant-numbers" %>diners we talked to say that <strong>Buy One, Feed One</strong> philosophy at certain restaurants affects where they decide to eat.</p>
            </div>
            <div class="step2">
               <p><%= image_tag "3dollars.png", alt: "", class: "restaurant-numbers" %>is the average cost of a donated appetizer. The value? Meeting a diner who shares your belief – that <strong>no child</strong> should go hungry.</p> 
            </div>
            <div class="step3">
                <p><%= image_tag "1dollar.png", alt: "", class: "restaurant-numbers" %>is the cost to give a dinner to a child in need. We do not keep <strong>any</strong> of the diner's donation; the good you're doing stays transparent.</p>
            </div>
        </div>
        
    </div>

    <!-- <div class="placard omega">
        <%= image_tag "stringleft.png", alt: "", class: "stringleft" %>
        <%= image_tag "stringright.png", alt: "", class: "stringright" %>
        <div class="placard-heading">
        <h1>REQUEST AN INVITE</h1>
        </div>
        <form id="restaurant-invite" action="">
          <%= form_tag restaurants_path, method: :post, remote: true, :"data-show-ajax-status-on" => "input[type=submit]" do %>
            <%= label_tag 'join', 'JOIN THE CAUSE' %>
            <%= text_field_tag :name, nil, :placeholder => "restaurant name"%>
            <%= text_field_tag :email, nil, :placeholder => "email"%>
            <%= submit_tag 'Send', :class => "btn-standart" %>
          <% end %>
        </form>
    </div> -->
    <div class="clear50space"></div>
    <div id='about'>
    	<div class='container'>
    		<h1 class="signupheader">Join Us.</h1>
    		
    		<div id="question">
    		<%= image_tag "arrow.png", id: "arrow", alt: "" %>
    		<p>&ldquo;What are you looking to get out of Food Circles?&rdquo;</p>
    		</div>
    	</div>
    	
        <div class='container'>
        
        <div id="legend">
        	<div class="centerhack">
        		<div id="legend-tables">Up to <strong>how many tables</strong><br> would you like a month?</div>
        	</div>
        		<hr>
        	<div class="centerhack">	
        		<div id="legend-requests">Defer <strong>fundraising<br> requests</strong> to FoodCircles<br><span class="thin">(save time / money)</span></div>
        	</div>
        		<hr>
        	<div class="centerhack">	
        		<div id="legend-prefered">Would you like to be a<br><strong>preferred</strong> event vendor?</div>
        	</div>
        		<hr>
        	<div class="centerhack">	
        		<div id="legend-present">We'll present your food<br><strong>in-person</strong> to offices in the area once a month</div>
        	</div>
        </div>

        <div id="plans">
            <div id="participant" class="innershadow">
            	<h3>Participant</h3>
            	<div class="centerhack">
            		<div id="tables" class="yes"><strong>Up to 8</strong> would be fine.</div>
            	</div>
            		<hr>
            	<div class="centerhack">	
            		<div id="requests">No thanks.</div>
            	</div>
            		<hr>
            	<div class="centerhack">	
            		<div id="prefered">I'm good.</div>
            	</div>
            		<hr>
            	<div class="centerhack">	
            		<div id="present">Nah.</div>
            	</div>
            	
            	<div class="cost">
            		<small>$</small>50
            	</div>
            </div>
            
            
            <div id="supporter" class="innershadow">
            	<h3>Supporter</h3>
            	<div class="centerhack">
            		<div id="tables" class="yes"><strong>Up to 16</strong> would be better.</div>
            	</div>
            		<hr>
            	<div class="centerhack">	
            		<div id="requests" class="yes"><strong>Very cool!</strong></div>
            	</div>
            		<hr>
            	<div class="centerhack">	
            		<div id="prefered">That's okay.</div>
            	</div>
            		<hr>
            	<div class="centerhack">	
            		<div id="present">We're all set.</div>
            	</div>
            	<div class="cost">
            		<small>$</small>100
            	</div>
            </div>
            
            
            <div id="financer" class="innershadow">
            	<h3>Financer</h3>
            	<div class="centerhack">
            		<div id="tables" class="yes">I'd rather have <strong>no limits.</strong></div>
            	</div>
            		<hr>
            	<div class="centerhack">	
            		<div id="requests" class="yes"><strong>Absolutely!</strong></div>
            	</div>
            		<hr>
            	<div class="centerhack">	
            		<div id="prefered" class="yes"><strong>Definitely!</strong></div>
            	</div>
            		<hr>
            	<div class="centerhack">	
            		<div id="present" class="yes"><strong>Let's do it.</strong></div>
            	</div>
            	
            	<div class="cost">
            		<small>$</small>150
            	</div><br><br><br><br>
            </div>
            
            <div class="clear50space"></div>
        </div>
        
       </div>
       <div id="spaceblock-signup">&nbsp;</div>
        <div class='container'>
        	<div id="buttonwrapper">
	            <div id="buttonlegend">
	            	<strong>Find a plan you like?</strong><br>
	            	Subscribe to what fits your needs and we'll have you set up shortly!
	            </div>
	            
	            <div id="buttongroup">
	                <div class="signupbutton" id="signuppart"><a href="hs" class="signupbuttontext">Subscribe</a></div>
	                <div class="signupbutton" id="signupsup"><a href="hs" class="signupbuttontext">Subscribe</a></div>
	                <div class="signupbutton" id="signupfin"><a href="hs" class="signupbuttontext">Subscribe</a></div>
	            </div>
	            
	            <div id="refunds">
	            	<p>We <strong>honor refund requests</strong> at any time. If you are not happy then it's <strong>our fault</strong>, plain and simple. Getting extra tables will automaticaly <strong>"Bump"</strong> you to the right membership level. <strong>No Contacts.</strong></p>
	            	
	            <div id="includes">
	            	<p>Every package includes impact-driven "Buy One, Get One" materials:<br><br>
	            	<u>Window Seal</u> &mdash; <u>Table Tents</u> &mdash; <u>Donation Chalkboard</u> &mdash; <u>Online Engagement</u></p>
	            </div>
	            
	            </div>
            </div>
         </div>
        
        <div class="clear50space"></div>
        
    </div>
    
    <center><div class="fb-like" data-href="http://www.joinfoodcircles.org/restaurants" data-colorscheme="light" data-layout="standard" data-action="recommend" data-show-faces="true" style="text-align: center; margin: auto auto auto;"></div><div><a href="https://twitter.com/share" class="twitter-share-button" data-via="FoodCircles" data-related="FoodCircles,jkooms,sliceosaurusrex" data-hashtags="bofo">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div></center>
</div>
