<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=148554958654775";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="about">
    <div class="container">
        <h2>Acquire customers while feeding hungry children</h2>
        
        <div class="placard">
            <div class="placard-heading alpha">
                <h3>A SIMPLE 3 STEP GUIDE TO USING FOODCIRCLES</h3>
            </div>

            <div class="steps alpha">
                <div class="step1">
                    <%= image_tag "mealupgrade.png" %>
                    <p>Add appetizers, desserts, or drinks to an entree.</p>
                </div>
                <div class="step2">
                    <%= image_tag "sellit.png" %>
                    <p>We will promote and sell the upgraded meal to our base of customers.</p>
                </div>
                <div class="step3">
                    <%= image_tag "dinein.png" %>
                    <p>Hey! Let's go into this restaurant. It has a cool awning. Something about cheese and peanut butter. Hey! Let's go into this restaurant. It has a cool awning. Hey! Let's go into this restaurant.</p>
                </div>
                
            </div>
        </div>

        <div class="placard">

            <%= image_tag "stringleft.png", :class => "stringleft"%>
            <%= image_tag "stringright.png", :class => "stringright"%>
            
            <div class="placard-heading">
            <h1>BY THE NUMBERS</h1>
            </div>
            <div class="steps">
                <div class="step1">
                    <p><span class="leadchar">3 of 4</span> diners we talked to say that <strong>Buy One, Feed One</strong> philosophy at certain restaurants affects where they decide to eat out.</p>
                </div>
                <div class="step2">
                   <p><span class="leadchar">$3</span> is the average cost of a donated appetizer. The value? Meeting a high quality customer who shares your belief that <strong>no child</strong> should <strong>go hungry</strong>.</p> 
                </div>
                <div class="step3">
                    <p><span class="leadchar">$1</span> is the cost to a provide a meal to a child in need. We <strong>do not</strong> keep any <strong>%</strong> of the diner's donation so the good you're doing stays transparent.</p>
                </div>
            </div>
            
        </div>

        <div class="placard omega">
            <%= image_tag "stringleft.png", :class => "stringleft"%>
            <%= image_tag "stringright.png", :class => "stringright"%>
            <div class="placard-heading">
            <h1>REQUEST AN INVITE</h1>
                <br />
                <%= form_tag restaurants_path, method: :post, remote: true, :"data-show-ajax-status-on" => "input[type=submit]" do %>
                    <%= label_tag 'join', 'JOIN THE CAUSE' %>
                    <%= text_field_tag :name, nil, :placeholder => "restaurant name"%>
                    <%= text_field_tag :email, nil, :placeholder => "email"%>
                    <%= submit_tag nil, :class => "btn-standart" %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div id="fbcomments">
    <div class="container">
        <h4>Unanswered question? Email ut as <a href="mailto:hey@foodcircles.net" class="mailus">hey@foodcircles.net</a> or comment below.</h4>
    </div>
    <div class="container">
        <div class="fb-container">
            <div class="fb-comments" data-href="http://www.foodcircles.net/faq" data-width="784" data-num-posts="10"></div>
        </div>
    </div>
</div>
