<div class="container">
    <h2>Acquire customers while feeding hungry customers</h2>
    
    <div class="placard alpha">
        <div class="placard-heading alpha">
            <h1>A SIMPLE 3 STEP GUIDE TO USING FOODCIRCLES</h1>
        </div>

        <div class="steps alpha">
            <div class="step1">
                <%= image_tag "mealupgrade.png" %>
               <p>Add appetizers, desserts, or drinks to an entree.</p>
            </div>
            <div class="step2">
                <%= image_tag "sellit.png" %>
                <p>We will promote and sell the upgraded meal to our base of customers.</p>
            </div>
            <div class="step3">
                <%= image_tag "dinein.png" %>
                <p>Hey! Let's go into this restaurant. It has a cool awning. Something about cheese and peanut butter. Hey! Let's go into this restaurant. It has a cool awning. Hey! Let's go into this restaurant.</p>
            </div>
            
        </div>
    </div>

    <div class="placard beta">

        <%= image_tag "stringleft.png", alt: "", class: "stringleft" %>
        <%= image_tag "stringright.png", alt: "", class: "stringright" %>

        <div class="placard-heading">
        <h1>BY THE NUMBERS</h1>
        </div>
        <div class="steps">
            <div class="step1">
                <p><%= image_tag "3outof4.png", alt: "", class: "restaurant-numbers" %>diners we talked to say that <strong>Buy One, Feed One</strong> philosophy at certain restaurants affects where they decide to eat out.</p>
            </div>
            <div class="step2">
               <p><%= image_tag "3dollars.png", alt: "", class: "restaurant-numbers" %>is the average cost of a donated appetizer. The value? Meeting a high quality customer who shares your belief that <strong>no child</strong> should <strong>go hungry</strong>.</p> 
            </div>
            <div class="step3">
                <p><%= image_tag "1dollar.png", alt: "", class: "restaurant-numbers" %>is the cost to a provide a meal to a child in need. We <strong>do not</strong> keep any <strong>%</strong> of the diner's donation so the good you're doing stays transparent.</p>
            </div>
        </div>
        
    </div>

    <div class="placard omega">
        <%= image_tag "stringleft.png", alt: "", class: "stringleft" %>
        <%= image_tag "stringright.png", alt: "", class: "stringright" %>
        <div class="placard-heading">
        <h1>REQUEST AN INVITE</h1>
        </div>
        <form id="restaurant-invite" action="">
          <%= form_tag restaurants_path, method: :post, remote: true, :"data-show-ajax-status-on" => "input[type=submit]" do %>
            <%= label_tag 'join', 'JOIN THE CAUSE' %>
            <%= text_field_tag :name, nil, :placeholder => "restaurant name"%>
            <%= text_field_tag :email, nil, :placeholder => "email"%>
            <%= submit_tag 'Send', :class => "btn-standart" %>
          <% end %>
        </form>
    </div>
</div>
