.sub_header 
= image_tag @c.image.thumb('75x75#').url
#info
  %h1= @c.name
  %span.address= @c.address
%img#venue_map{:src => "http://maps.google.com/maps/api/staticmap?zoom=14&size=700x170&maptype=roadmap&markers=color:red|#{@address}&sensor=false"}
.clear
%b Region:
.tag= @c.region.name
%b Provides at Least:
.tag 1 meal
%p= @c.description
.bigButton Select Charity and Continue >>