- @offers.each do |offer|
  %div{class: "tile " + ["red", "yellow", "green"].sample + ( offer.venue.vouchers_available == 0 ? " sold-out" : "" ), :"data-city" => "chicago", :"data-cat" => "italian"}
    %h3= link_to offer.venue.name, offer.venue
    .thumb
      %span.social
        %a{href: "#", class: "btn-mini"}
          %i.icon-facebook
        %a{href: "#", class: "btn-mini"}
          %i.icon-twitter
      .progress
        - percent = (offer.venue.vouchers_available.to_f / offer.venue.vouchers_total.to_f) * 100
        - if (offer.venue.vouchers_available.nil? or offer.venue.vouchers_available == 0)
          %span.pbar{style: "height: 0"}
            %a.block{href: notify_signup_path}
              %small Notify me
        - else
          %span.pbar{style: "height:" + percent.to_s + "%"}
            %span.block
              %strong= offer.venue.vouchers_available
              %small left

      /%a{href: main_app.deal_popup_not_logged_path(offer)}
      %a.deallink.popup-link{href: '/deal_popup_not_logged/' + offer.id.to_s}
        %span.price
          %strong= number_to_currency(offer.price, :precision => 0)
          %span{class: "old"}
            = number_to_currency(offer.original_price, :precision => 0)
            %i{class: "icon-strike strike"}
          %span{class: "shadow"}
        = image_tag offer.image.url(:deal)
        %span{class: "title"}= offer.name
    .tags
      - if not offer.category.empty?
        tags:
        = raw offer.category.collect { |cat| link_to cat.name, cat }.join(",")
