<div class="popup deal-popup">
  <div class="deal">
    <%= form_tag("/stripe_payments", :method => "post", :id => "dealform") do %>
      <input type="hidden" name="stripe_token"/>
      <div class="deal-main">
        <div class="deal-banner">
          <%= image_tag @offer.image.url %>
          <h2><%= @offer.venue.name %></h2>
          <span class="price">
            <strong><%= number_to_currency(@offer.price, :precision => 0) %></strong>
            <small><%= number_to_currency(@offer.original_price, :precision => 0) %> <i class="icon-strike-big strike"></i></small>
          </span>
          <span class="count">
            <%= @offer.available %>
            <small>left</small>
          </span>
        </div><!-- /.deal-banner -->
        <div class="deal-body">
          <div class="description">
            <h2><%= @offer.name %></h2>
            <p>Good for 30 days. Please buy at least one entree. Please bring someone new to our business!</p>
            
            <ul class="qty">
              <%- @offer.venue.offers.each do |offer| %>
                <li class="radio-holder">
                  <label for="qty-1"><%= offer.name %></label>
                  <input type="radio" class="custom-input" checked="checked" name="offer_id" value="<%= offer.id %>" id="qty-1" />
                </li>
              <%- end %>
            </ul><!-- /.qty -->
          </div><!-- /.description -->
          <div class="pay-box">
            <h3>pay what you want</h3>
            <span class="field-holder">
              <span class="prefix">$</span>
              <input name="amount" type="text" class="field" value="1" />
            </span>
            
            <div class="slider-holder">
              <span class="min">$1</span>
              <span class="max">$18</span>
              <span class="mid">$9</span>
              <div class="slider-wrap">
                <span class="bg-holder"></span>
                <div class="slider"></div><!-- /.slider -->
              </div><!-- /.slider-wrap -->
            </div><!-- /.slider-holder -->
            <div class="donation-info">
              slide to give more <strong>1</strong> meal donated
            </div><!-- /.donation-info -->
            <a href="#" class="btn-large full-width light-shadow buy-btn">I want this!</a>
            <div class="help">
              <div class="balloon">
                <h6>How to redeem</h6>
                <ul>
                  <li><strong>1</strong> Purchase Online</li>
                  <li><strong>2</strong> Print or show receipt to server</li>
                  <li><strong>3</strong> Enjoy with regular food purchase</li>
                </ul>
                <i class="arrow-down"><i class="arrow-down"></i></i>
                <a href="#" class="balloon-close">Close</a>
              </div><!-- /.balloon -->
              <a href="#">How to redeem</a>
            </div><!-- /.help -->
          </div><!-- /.pay-box -->
        </div><!-- /.deal-body -->
      </div><!-- /.deal-main -->
      <div class="deal-payment">
        <div class="head">
          <a href="#" class="back">&lt; back to restaurant profile</a>
          <div class="profile">
            <%- if current_user %>
              <div class="row">
                <%= current_user.name %>
              </div>
            <%- else %>
              <div class="row">
                <a href="#" class="btn-facebook mid">Sign up <i class="icon-btn-facebook medium"></i></a>
                <input type="text" class="field standart" placeholder="new email address" />
              </div><!-- /.row -->
              <div class="row">
                <a href="#" class="btn-twitter mid">Sign up <i class="icon-btn-twitter medium"></i></a>
                <input type="password" class="field standart" placeholder="new password" />
              </div><!-- /.row -->
              <em>Have an account? <a href="#">Sign in</a></em>
            <%- end %>
          </div><!-- /.profile -->
        </div><!-- /.head -->
        <div class="body">
          <fieldset>
            <h5>Payment Details <span class="line"></span></h5>
            <div class="card-number">
              <label>Card number</label>
              <span class="field-holder">
                <input id="card-number" type="text" placeholder="4242 4242 4242 4242" class="field standart" />
                <i class="suffix icon-lock"></i>
              </span>
            </div><!-- /.card-number -->
            <div class="cv-code">
              <label>CV Code</label>
              <input id="cvc" type="text" class="field standart thin" placeholder="123" />
            </div><!-- /.cv-code -->
            <div class="valid-thru">
              <label>EXPIRY DATE</label>
              <input id="exp-month" type="text" class="field standart thin" placeholder="02" />
              <input id="exp-year" type="text" class="field standart thin" placeholder="15" />
            </div><!-- /.valid-thru -->
          </fieldset>
          <fieldset>
            <h5>Give To <span class="line"></span></h5>
            <div class="choose-organization">
              <div class="radio-holder">
                <label for="kids-food"><a href="#">Kids Food Basket</a> (Grand Rapids, MI)</label>
                <input type="radio" name="organization" class="custom-input" value="" id="kids-food" />
              </div><!-- /.radio-holder -->
              <div class="radio-holder">
                <label for="world-vision"><a href="#">World Vision</a> (Somalia, Africa)</label>
                <input type="radio" name="organization" class="custom-input" value="" id="world-vision" />
              </div><!-- /.radio-holder -->
            </div><!-- /.choose-organization -->
          </fieldset>
          <div class="foot">
            <% if user_signed_in? %>
              <a id="dealbuy" href="#" class="btn-standart full-width light-shadow large-font">Buy</a>
            <% else %>
              <a href="<%= new_user_session_path %>" class="btn-standart full-width light-shadow large-font">Login in order to buy</a>
            <% end %>
            <p class="secured"><i class="icon-secure"></i> SECURE – PAYMENTS PROCESSED BY STRIPE</p><!-- /.secured -->
          </div><!-- /.foot -->
        </div><!-- /.body -->
      </div><!-- /.deal-payment -->
    <%- end %>
  </div><!-- /.deal -->
  <div class="mini-profile">
    <i class="arrow-down"><i class="arrow-down"></i></i>
    <%= image_tag @offer.venue.image.thumb('130x135').url, :class => 'thumb' if @offer.venue.image %>    
    <h4>
      <small><%= @offer.venue.phone %></small>
      <%= @offer.venue.name %>
    </h4>
    <p><%= @offer.venue.description %></p>
    <div class="foot">
      <a href="#" class="right">Get directions</a>
      <div class="social">
        <a href="#" class="icon-facebook-med"></a>
        <a href="#" class="icon-twitter-med"></a>
        <a href="#" class="icon-yelp-med"></a>
      </div><!-- /.social -->
    </div><!-- /.foot -->
  </div><!-- /.mini-profile -->
</div><!-- /.popup -->
