<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=148554958654775";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
    <h1>Capture funds through your community</h1>
</div>

<div id="nonprofits-featured">
    <div class="container">
        <div id="iphone-image">
            <%= image_tag "nonprofits/nonprofits-iphone.png" %>
        </div>
        <div id="grtab">
            <a href="#"><%= image_tag "nonprofits/nonprofits-grtab.png" %> </a>
        </div>
    </div>
</div>
    

<div id="nonprofits-steps">
    <div class="container">
        <div id="nonprofits-step1" class="steps-text">
            <p><span class="bignumber">1</span></p>
            <p class="steps-copy">We create a free mobile site and app for your supporters with integrated FoodCircles dining. Every purchase made on the site/app is 100% sent to you via check.</p>
        </div>

        <div id="nonprofits-step2">
            <%= form_tag nonprofits_path, :id => 'nonprofit-form', method: :post do %>
              <%= text_field_tag :organization, nil, :placeholder => "Organization" %><br />
              <%= text_field_tag :name, nil, :placeholder => "Name" %><br />
              <%= text_field_tag :email, nil, :placeholder => "Email" %><br />
              <%= text_field_tag :website, nil, :placeholder => "Website" %><br />
              <%= submit_tag nil, :class => "submit-image" %>
            <% end %>
            <div class="steps-text"> 
                <p><span class="bignumber">2</span></p>
                <p class="steps-copy">You talk to restaurants you know about joining your FoodCirles app. The partnership goes beyond your typical 1-time event and requires little upkeep post-signup.</p>
            </div>
        </div>

            
        <div id="nonprofits-step3" class="steps-text">
            <p><span class="bignumber">3</span></p>
            <p class="steps-copy">People use your app whenever they eat out. Plus we launch FoodCircles in your area. Both bring funds and awareness 365 days/yr without taking up staff time or event bandwidth.</p>
        </div>
    </div>
</div>



<div id="fbcomments">
    <div class="container">
        <h4>Unanswered question? Email ut as <a href="mailto:hey@foodcircles.net" class="mailus">hey@foodcircles.net</a> or comment below.</h4>
    </div>
    <div class="container">
        <div class="fb-container">
            <div class="fb-comments" data-href="http://www.foodcircles.net/faq" data-width="784" data-num-posts="10"></div>
        </div>
    </div>
</div>


<div style="display:none;">
    <div id="hidden">
        <h1>Thank you for your request!</h1>
        <h2>We will be contacting you shortly to get things started and distribute your custom url.</h2><br />
        <h2>Take a second to <a href="#">browse our restaurants</a> while you're here.</h2>
        <h2>Like us on <a href="#">Facebook</a><br />
        Follow us on <a href="#">Twitter</a></h2>
        
    </div>
</div>

<div style="display:none;">
    <div id="hidden2">
        <h1>Since we're already in Grand Rapids...</h1>
        <p>Local restaurants are already on board, so your involvement is slightly different.</p>
        
        <div class="grmodal-steps">
            <img src="img/nonprofits-step1.png" alt="">
            <h2>Tell us who you are.</h2>
        </div>
        <div class="grmodal-steps">
            <img src="img/nonprofits-step2.png" alt="">
            <h2>We'll give you a unique url for your organization</h2>
        </div>
        <div class="grmodal-steps">
            <img src="img/nonprofits-step3.png" alt="">
            <h2>Anyone that buys through your link, the funds will go directly to you</h2>
        </div>
        <div id="grmodal-form">
        <form action="">
            <input type="text"><br />
            <input type="text"><br />
            <input type="text"><br />
            <input type="text"><br />
            <input type="submit" value="Request Invite" class="submit-image">
        </form>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
<script>
$('.teampick a').on('click', function(e) {
    e.preventDefault();
    var $this = $(this);
    if ($this.parent().is('.active')) return;
    $('.teampick .active').removeClass('active');
    $this.parent().addClass('active');
    
    var $current = $('.teammember.active'),
        $dest    = $($this.attr('href')),
        offset   = $current.position();
    
    $current.css({
        top: offset.top,
        left: offset.left,
        position: 'absolute'
    }).animate({
        opacity: 0
    }, function(){
        $(this).removeClass('active').css({
            position: 'static',
            opacity: 1
        });
    });
    $dest.css({
        opacity: 0
    }).addClass('active').animate({
        opacity: 1
    });
    
});
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/jquery.colorbox.js"></script>
<script>
    $(document).ready(function(){
        $("form").submit(function(){
            $.colorbox({inline:true, href:"#hidden2"});
        })
    });
</script>

<script>
    $("#grtab").colorbox({inline:true, href:"#hidden2"});
</script>