<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=148554958654775";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
    <h1>Capture funds through your community</h1>
</div>

<div id="nonprofits-featured">
    <div class="container">
        <div id="iphone-image">
            <%= image_tag "nonprofits/nonprofits-iphone.png" %>
        </div>
        <div id="grtab">
            <%= link_to image_tag("nonprofits/nonprofits-grtab.png"), non_profit_on_grand_rapids_popup_path, class: "popup-link" %>
        </div>
    </div>
</div>
    

<div id="nonprofits-steps">
    <div class="container">
        <div id="nonprofits-step1" class="steps-text">
            <p><span class="bignumber">1</span></p>
            <p class="steps-copy">We create a free mobile site and app for your supporters with integrated FoodCircles dining. Every purchase made on the site/app is 100% sent to you via check.</p>
        </div>

        <div id="nonprofits-step2">
            <%= form_tag nonprofits_path, :id => 'nonprofit-form', method: :post, remote: true, :"data-show-ajax-status-on" => "input[type=submit]" do %>
              <%= text_field_tag :organization, nil, :placeholder => "Organization" %><br />
              <%= text_field_tag :name, nil, :placeholder => "Name" %><br />
              <%= text_field_tag :email, nil, :placeholder => "Email" %><br />
              <%= text_field_tag :website, nil, :placeholder => "Website" %><br />
              <%= submit_tag nil, :class => "submit-image" %>
            <% end %>
            <div class="steps-text"> 
                <p><span class="bignumber">2</span></p>
                <p class="steps-copy">You talk to restaurants you know about joining your FoodCirles app. The partnership goes beyond your typical 1-time event and requires little upkeep post-signup.</p>
            </div>
        </div>

            
        <div id="nonprofits-step3" class="steps-text">
            <p><span class="bignumber">3</span></p>
            <p class="steps-copy">People use your app whenever they eat out. Plus we launch FoodCircles in your area. Both bring funds and awareness 365 days/yr without taking up staff time or event bandwidth.</p>
        </div>
    </div>
</div>



<div id="fbcomments">
    <div class="container">
        <h4>Unanswered question? Email ut as <a href="mailto:hey@foodcircles.net" class="mailus">hey@foodcircles.net</a> or comment below.</h4>
    </div>
    <div class="container">
        <div class="fb-container">
            <div class="fb-comments" data-href="http://www.foodcircles.net/faq" data-width="784" data-num-posts="10"></div>
        </div>
    </div>
</div>
