<% content_for(:title, "FoodCircles – For Nonprofits | Capture Funds Through Your Community's Dining") %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=148554958654775";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
    <h1>Awareness Through Your Community's Dining</h1>
</div>

<div id="nonprofits-featured">
    <div class="container">
        <div id="iphone-image">
            <%= image_tag "nonprofits/nonprofits-iphone.png" %>
        </div>
        <div id="grtab">
            <%= link_to image_tag("nonprofits/nonprofits-grtab.png"), non_profit_on_grand_rapids_popup_path, class: "popup-link" %>
        </div>
    </div>
</div>
    
    <div id="white-section">

        <div class="container">
            <div id="nonprofits-app" class="grid">
                <div class="left-section">
                    <h1>Get a Mobile App</h1>
                    <p>We create a <strong>free</strong> mobile site and app (iOS/Android) for your supporters with integrated FoodCircles dining. Every purchase made on the site or app is <strong>100%</strong> sent to you via check.</p>
                </div>
                <div class="right-section">
                    <%= image_tag "nonprofits/nonprofits_1.png" %>
                </div>
                
            </div>

            <div id="nonprofits-partnerships" class="grid">

                 <div class="left-section">
                    <%= image_tag "nonprofits/nonprofits_2.png" %>
                </div>
                <div class="right-section">
                    <h1>Add Restaurants You Know</h1>
                    <p>Ask local restaurants if they'd like to receive the diners that come though your app. Plans go month-to-month for the restaurants and it requires little to no upkeep on your end.</p>
                </div>
               
            </div>

            <div id="nonprofits-funds" class="grid">

                 <div class="left-section">
                    <h1>Receive Funding</h1>
                    <p>Folks use your app to eat out. We launch <i>joinfoodcircles.org</i> in your area. Both drive you funds and awareness <strong>365 days/yr</strong> without taking up staff time or building event fatigue.</p>
                </div>
                <div class="right-section">
                    <%= image_tag "nonprofits/nonprofits_3.png" %>
                </div>
                
            </div>
            
            <div id="nonprofits-form">

              <%= form_tag nonprofits_path, :id => 'nonprofit-form', method: :post, remote: true, :"data-show-ajax-status-on" => "input[type=submit]" do %>
                <%= text_field_tag :organization, nil, :placeholder => "Organization" %><br />
                <%= text_field_tag :name, nil, :placeholder => "Name" %><br />
                <%= text_field_tag :email, nil, :placeholder => "Email" %><br />
                <%= text_field_tag :website, nil, :placeholder => "We help..." %><br />
                <%= submit_tag 'Request Invite', :class => "btn-standart" %>
              <% end %>

            </div>


        </div> <!-- container -->

       </div> <!-- white section -->
