<div class="popup popup-print">
  <span class="print-slot"></span>
  <div class="print-page-holder">
    <div class="print-page">
      <div class="head">
        <span class="right">Thank You!</span>
        <span>Your FoodCircles Reciept</span>
      </div><!-- /.head -->
      <div class="body">
        <div class="col">
          <ul class="order-details">
            <li><i class="icon-barcode"></i> Your code is: <strong><%= @payment.code %></strong></li>
            <li><i class="icon-item"></i> <%= @payment.offer.name %></li>
            <li><i class="icon-kid-dark"></i> <%= number_to_currency(@payment.amount) %> donated</li>
          </ul><!-- /.order-details -->
          
          <div class="order-share">
            <h5>Share with friends</h5>
            <div class="socials">
              <a href="#" class="icon-facebook-mega"></a>
              <a href="#" class="icon-twitter-mega"></a>
              <a href="#" class="icon-mail-mega"></a>
            </div><!-- /.socials -->
          </div><!-- /.order-share -->
          
          <div class="order-how-to">
            <h5>How To Redeem</h5>
            <ul>
              <li>1. Purchase Online</li>
              <li>2. Print or show email to server</li>
              <li>3. Enjoy with regular food purchase</li>
            </ul>
          </div><!-- /.order-how-to -->
        </div><!-- /.col -->
        <div class="col">
          <div class="restaurant-location">
            <h5><%= @payment.offer.venue.name %></h5>
            <img id="venue_map" src="http://maps.google.com/maps/api/staticmap?zoom=14&size=260x160&maptype=roadmap&markers=color:red|<%= @payment.offer.venue.full_address %>&sensor=false"/>
            <p><strong><%= @payment.offer.venue.phone %></strong> <%= @payment.offer.venue.address %> <%= @payment.offer.venue.city %>, <%= @payment.offer.venue.state.name if @payment.offer.venue.state %></p>
          </div><!-- /.restaurant-location -->
          
          <div class="order-status">
            We’ve also emailed it to you, so you won’t lose it. Happy to <a href="ajax/text-popup.html" class="popup-link">text a copy</a> to any cellphone too! <strong>Good for the next 30 days.</strong>
          </div><!-- /.order-status -->
        </div><!-- /.col -->
      </div><!-- /.body -->
    </div><!-- /.print-page -->
  </div><!-- /.print-page-holder -->
  
  <a href="#" class="btn-standart large-font view-account-btn">View Account</a>
</div><!-- /.popup popup-print -->
