<!DOCTYPE html>
<html>
  <head>
    <title>FoodCircles</title>
    <meta property="og:title" content="FoodCircles - Buy One, Feed One." />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="FoodCircles" />
    <meta property="og:url" content="http://foodcircles.net" />
    <meta property="og:image" content="foodcircles.net/logo.png" />
    <meta property="og:description" content="What if every time you ate, you put food on the plate of someone else?" />

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "#{controller_name}", :media => "all" %>
    <%= stylesheet_link_tag "colorbox", :media => "all" %>
    <%= stylesheet_link_tag "fonts", :media => "all" %>
    <%= javascript_include_tag "//use.typekit.net/mqt8ffa.js" %>
    <%= javascript_tag  "try{Typekit.load();}catch(e){}" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= javascript_tag "Stripe.publishableKey = '#{Rails.configuration.stripe[:publishable_key]}';" %>
    <%= javascript_include_tag  'home', "#{controller_name}" %>


    <link rel="icon" type="image/png" href="/favicon.png">
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => 'stripe-key', :content => Rails.configuration.stripe[:publishable_key] %>
    <%= render 'layouts/google-analytics' %>
  </head>

  <%- custom_body_classes << (user_signed_in? ? 'logged-in' : 'not-logged') %>

  <body class="<%= custom_body_classes.join ' ' %>" data-meta="<%="#{controller_name}"%>#<%="#{action_name}"%>">
    <div id='wrapper' >
        <%= render :partial => 'partials/header' %>
        <%= yield %>
        <%= render :partial => "partials/footer" %>
    </div>
  </body>
</html>
